/* CORES:
Azul Escuro: 193894
Azul Claro: 7C9EDC
Laranja: FF8D0A
Laranja claro: FDDFAF
Amarelo: FFFFAC

Vermelho: 4F4F4F
Cinza Escuro: 676767
Cinza: DB7373 */

body {
    background-color: #1544d1;
}

#caixa-suprema {
    margin: 2vw 8vw;
    padding: 2vw;
    background-color: white;
    border-radius: 2vw;
}

h1 {
    color: black;
    text-align: center;
    font-family: "NextFont";
    font-size: 40px;
}

hr {
    width: 50%;
    margin: auto;
    border: solid black 2px;
    margin-bottom: 2vw;
}

h3 span {
    color: rgb(57, 57, 206);
}

.textos {
    padding: 2rem;
}

.textos p {
    text-align: justify;
    font-size: 22px;
    line-height: 40px;
    font-family: "Soul";
}

#mvv h2 {
    margin-left: 6vw;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: "NextFont";
}

#mvv p {
    margin-bottom: 10px;
}

#mvv ul {
    margin-left: 1.5vw;
    font-size: 20px;
}

#mvv li {
margin-bottom: 1vw;
font-family: "Soul";
}

#mvv img {
width: 100%;
margin-bottom: -12vw;
margin-top: -8vw;
}

#div-pai {
display: flex;
justify-content: space-evenly;
gap: 3vw;
}

.bloco-hidden {
border: solid black;
border-radius: 20px;
padding: 20px;
box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.438);
}

.bloco-hidden h3 {
    font-family: "Dream Orphans";
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.bloco-hidden p {
font-size: 20px;
}