* {
    padding: 0;
margin: 0;
text-decoration: none;
}

header {
    display: flex;
background-color: rgb(119, 148, 201);
padding: 5vw;
justify-content: space-between;
}

.menu {
list-style: none;
display: flex;
gap: 2vw;
}

.menu a {
    color: white;
}

#intro {
padding: ;

}